.main {
  height: 100%;
  width: 100%;
  background-color: #edecf2; }
  .main .header {
    background-color: #0098cc;
    text-align: center;
    height: 10%;
    width: 100%; }
    .main .header .search {
      height: 50%;
      padding: 20px; }
      .main .header .search img {
        display: inline-block;
        width: 7%;
        height: 50%;
        padding-top: 2%; }
      .main .header .search input {
        margin: 2%;
        margin-top: 10px;
        display: inline-block;
        border: 1px solid powderblue;
        width: 80%;
        height: 88px;
        border-radius: 50px;
        text-align: center;
        font-size: 202%;
        background: url(/images/ic-search-24-px.png);
        background-repeat: no-repeat;
        background-color: #FFFFFF;
        background-position: 18%;
        background-size: 40px 40px; }
  .main .menu {
    height: 15%; }
    .main .menu .menu3, .main .menu .menu2, .main .menu .menu1 {
      display: inline-block;
      width: 33%;
      padding: 2%;
      font-size: 200%;
      color: #FFFFFF; }
    .main .menu .menu2, .main .menu .menu1 {
      border-right: 1px solid #FFF8DC; }
    .main .menu .menu1 {
      border-bottom: 5px solid #FFFFFF;
      font-weight: bold; }
  .main .category {
    height: 13%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .main .category div {
      background-color: #FFFFFF;
      padding-top: 3%; }
      .main .category div div {
        width: 20%; }
        .main .category div div p {
          font-size: 200%;
          color: #666666; }
  .main div .flash-sale {
    position: relative;
    z-index: 1;
    margin-top: 3%;
    height: 10%;
    background-image: url(/images/group-11@2x.jpg);
    color: #FFFFFF; }
    .main div .flash-sale .flash-title, .main div .flash-sale .time, .main div .flash-sale .text {
      padding: 4%;
      display: inline-block;
      text-align: center;
      font-weight: bold;
      font-size: 280%; }
    .main div .flash-sale .time {
      margin-top: 5%;
      margin-bottom: 5%;
      font-size: 154%;
      border: 1px ridge #FFFFFF;
      border-radius: 5px;
      width: 5%;
      padding: 0%; }
    .main div .flash-sale .text {
      margin-top: 4%;
      font-size: 180%;
      padding: 1%;
      font-weight: normal; }
    .main div .flash-sale div {
      padding-left: 15%;
      padding-top: 3%;
      width: 50%;
      display: inline-block; }
      .main div .flash-sale div p {
        padding-top: 1%;
        height: 20%; }
      .main div .flash-sale div img {
        height: 30%; }
  .main div .advertise {
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 25px;
    top: 80%;
    margin-left: 4%;
    width: 85%;
    margin-right: auto;
    border: 3px solid #e1e1e7; }
    .main div .advertise .cart {
      width: 50%; }
    .main div .advertise .discount {
      width: 40%;
      margin-top: 20%;
      margin-left: 20%; }
      .main div .advertise .discount p {
        padding: 7%;
        padding-left: 22%;
        background-color: #ff6699;
        border-radius: 10px 10px 10px 10px;
        font-size: 200%;
        color: #FFFFFF;
        font-weight: bold; }
    .main div .advertise .price_discount {
      margin-left: 20%; }
      .main div .advertise .price_discount p {
        font-size: 350%;
        color: #d12b62; }
    .main div .advertise .price {
      margin-left: 20%; }
      .main div .advertise .price p {
        font-size: 200%;
        color: #c7c7c7;
        text-decoration: line-through; }
    .main div .advertise .show {
      width: 10%;
      margin-top: 10%; }
      .main div .advertise .show img {
        width: 30%;
        height: 100%;
        margin-left: 50%; }
  .main .category-ad {
    padding-top: 35%;
    background-color: #FFFFFF;
    width: 100%; }
    .main .category-ad div {
      border-top: 2px solid #e1e1e7; }
      .main .category-ad div a {
        display: inline-block;
        width: 33%;
        padding: 2%;
        text-align: center;
        font-size: 200%;
        color: #666666; }
      .main .category-ad div .selected {
        color: 333333;
        border-bottom: 5px solid #ff6699;
        font-weight: bold; }
    .main .category-ad div div {
      background-color: #FFFFFF;
      width: 50%;
      display: inline-block;
      border-radius: 1%;
      border-right: 5px solid #e1e1e7; }
      .main .category-ad div div .discount1 {
        position: absolute;
        z-index: 2;
        padding: 3%;
        padding-left: 5%;
        background-color: #ff6699;
        border-radius: 20px 20px 20px 20px;
        font-size: 171%;
        color: #FFFFFF;
        font-weight: bold;
        margin-left: 15%;
        margin-left: 7%;
        margin-top: 10%; }
      .main .category-ad div div .price_discount1 {
        font-size: 250%;
        color: #d12b62;
        margin-left: 2%;
        font-weight: bold; }
      .main .category-ad div div .price1 {
        font-size: 200%;
        color: #999999;
        text-decoration: line-through;
        margin-left: 2%; }
      .main .category-ad div div div {
        width: 100%;
        margin-left: 2%;
        border: 0; }
        .main .category-ad div div div .checked {
          font-size: 200%;
          color: #ff8a02;
          display: inline-block; }
        .main .category-ad div div div .star-user {
          display: inline-block;
          color: #999999; }
      .main .category-ad div div img {
        position: relative;
        z-index: 1;
        padding: 10%; }
      .main .category-ad div div p {
        font-size: xx-large;
        margin-left: 2%;
        color: #454545; }
  .main .bottom {
    background-color: #edecf2;
    padding: 0; }
    .main .bottom .about-us {
      position: relative;
      z-index: 1;
      padding-bottom: 20%; }
      .main .bottom .about-us h2 {
        padding: 4%;
        font-size: 280%;
        color: #000000;
        font-weight: bold; }
      .main .bottom .about-us div {
        padding-bottom: 1%; }
        .main .bottom .about-us div div .icon {
          max-width: 16%;
          display: inline-block;
          text-align: center; }
          .main .bottom .about-us div div .icon img {
            width: 100%;
            padding: 10%; }
        .main .bottom .about-us div div .text {
          width: 80%;
          display: inline-block; }
          .main .bottom .about-us div div .text .title1 {
            color: #000000;
            font-size: 250%; }
          .main .bottom .about-us div div .text .descript {
            color: #666666;
            font-size: 200%; }
      .main .bottom .about-us .support-button {
        background-color: #0098cc;
        border-radius: 50px 50px 50px 50px;
        width: 30%;
        color: #FFFFFF;
        text-align: center;
        margin-left: 66%;
        font-weight: bold;
        position: fixed;
        z-index: 99;
        bottom: 133px; }
        .main .bottom .about-us .support-button .support-icon {
          display: inline-block;
          padding: 1%;
          padding-left: 7%;
          margin: 5%;
          margin-left: 16%;
          border-radius: 100%;
          border: 6px solid #FFFFFF;
          font-size: 188%;
          padding-right: 6%; }
        .main .bottom .about-us .support-button .support {
          padding-top: 3%;
          display: inline-block;
          margin: 5%;
          font-size: 220%; }
    .main .bottom .category-item {
      background-color: #FFFFFF;
      margin: 0;
      padding: 0;
      width: 100%;
      bottom: -10px;
      position: fixed;
      z-index: 100; }
      .main .bottom .category-item div {
        display: inline-block;
        padding: 1.5%;
        height: 125px;
        text-align: center;
        background-color: #FFFFFF;
        width: 20%; }
        .main .bottom .category-item div a img {
          height: 100%; }
      .main .bottom .category-item .selected {
        width: 25%;
        position: relative;
        bottom: 10px;
        padding-top: 1%;
        padding-left: 0.5%;
        padding-right: 0.5%;
        display: inline-block;
        border-radius: 30px 30px 0 0;
        background-color: #ff6699; }

/*# sourceMappingURL=app.css.map */
